extends _layout

block content
	h1 Men's Sports
	p
		nav: ul
			li
				a(href='mbaseball.html') Baseball
			li
				a(href='mbasketball.html') Basketball
			li
				a(href='mcrosscountry.html') Cross Country
			li
				a(href='mfootball.html') Football
			li
				a(href='mgolf.html') Golf
			li
				a(href='mswimming&diving.html') Swimming & Diving
			li
				a(href='mtennis.html') Tennis
			li
				a(href='mtrack&field.html') Track & Field
			li
				a(href='mvolleyball.html') Volleyball

	h1 Women's Sports
	p
		nav: ul
			li
				a(href='wbasketball.html') Basketball
			li
				a(href='wcrosscountry.html') Cross Country
			li
				a(href='wgolf.html') Golf
			li
				a(href='wgymnastics.html') Gymnastics
			li
				a(href='wsoccer.html') Soccer
			li
				a(href='wsoftball.html') Softball
			li
				a(href='wswimming&diving.html') Swimming & Diving
			li
				a(href='wtennis.html') Tennis
			li
				a(href='wtrack&field.html') Track & Field
			li
				a(href='wvolleyball.html') Volleyball

	h1 BYU Arts
	p
		nav: ul
			li
				a.single(href='') Events


block breadcrumb