extends _layout

block breadcrumb

block content
	h1(style='text-align=center;') LaVell Edwards Stadium
	p
		img(src='images/lavelledwardsstadium_photo.png')


	#wrapper(style='width:100%;float:left;display:block;')
		#left(style='background-color:transparent;height:100px;float:left;width:50%;')
			h1 Menu
		#right(style='background-color:transparent;height:100px;float:left;width:50%;')
			p
				br
				br
				br
				| Info here

