extends _layout

block breadcrumb

block content

	h1 Men's Basketball
		a.btn.btn-primary.btn-large.get-tickets(href='http://seatselection.seats3d.com/ncaa/brigham_young_university/mens_basketball/seat_selection/#/level_2/my_account/') Get Tickets

	//- =============
	//-  Tabs
	//- =============
	
	ul.nav.nav-tabs
		li.active
			a(href='#info', data-toggle="tab") Info
		li
			a(href='http://byucougars.com/schedule/m-basketball') Schedule
		li
			a(href='marriottcenter.html') Venue

	div.tab-content
		div#info.tab-pane.active
			h3 Season
			h4 June Renewal
			p Previous (2012-13) Season Ticket holders (except those seated in Courtside and rows 1-7 of Sections 20, 21 & 22) will have the opportunity to renew their 2012-13 seats, to release seats they are not renewing, and to pay for those seats during a June Seat Renewal online process. The renewal of previous seats and payment for them will happen exclusively from June 12th through June 23rd. No time slot is needed, however customers will be provided with their customer number and seat selection PIN to log into their account at the Seats 3D BYU website. 
				u
					i Payment must be received during the June renewal period.
				|  The deadline is June 23, 2013 @ 5:00pm
			p 
				u
					i Payment for 2013-14 season tickets must be received during the June renewal period; if you are paying on-line you will also need your account password. 
				|  If you do not remember your password, have not yet set up a password, or need any other assistance, please call the BYU Ticket Office (801-422-2981).
				u 
					i Season tickets that are not purchased by June 23 will be released to be selected by other patrons during the Upgrade/Change in July.
			h4 July Upgrade
			p
				u
					i Every season ticket holder who renews and purchases their season tickets in June will be offered a unique time slot 
				| and the opportunity to change/upgrade their current seating location and/or add to the number of season tickets that they have previously purchased. All available seating released during June will be available for upgrades during the July period. Customers will use the Seats 3D software introduced last year to select their changes and upgrades. Cougar Club Members who did not purchase season tickets in 2012-13 must request a timeslot (prior to June 24th) in order to choose season ticket locations for 2013-14. Customers in rows 1-7 of Sections 20, 21 & 22 will be included in the upgrade period in July.
			p Many seating locations in the lower bowl are dependent on maintaining your Cougar Club membership.  If you were a Cougar Club member last year when you chose your seats (in the lower bowl), you must maintain that level of membership or higher to keep your seating location. Please be sure that your Cougar Club membership remains active. If you are no longer active at the required level, your seats will be released and you will have the opportunity to choose a new location.
			p Time slots will be assigned from July 9th through July 22nd; this information will be mailed and emailed to each customer. Changing seats is optional. Many customers will complete their renewal process in June and not need to log into the system a second time if they are satisfied with their current seating location. Unique selection times will begin with Cougar Club Donors, based on Cougar Club membership level 
				a(href="http://cougarclub.com/info") (see Cougar Club)
				| , and then on priority points. Priority Points are given for the following:
			li 1 point for each dollar donated to the Cougar Club
			li 100 points for each year of continuous season ticket purchase for football and men's basketball
			li 500 points for each East Club seat ever purchased (football)
			li 1000 points for each Legacy Club seat ever purchased (football)
			li 1000 points for each Courtside seat ever purchased (men's basketball)
			h4 Quantity Limits & Pricing
			li 
				u Cougar Club Limits
				ul
					li All Legacy Cougars may purchase up to 12 season tickets
					li All other Cougar Club Members may purchase up to 8 season tickets
			li 
				u Public Limits
				ul
					li Public Patrons may purchase up to 8 season tickets
			li 
				u BYU Employee Limits and Pricing
				ul
					li 30% off all seats except Courtside
					li Up to 8 season tickets may be purchased at the discounted price regardless of the Cougar Club membership level
					li 30% off facility donor seats purchased by BYU Employees of Retirees
			table
				tr
					td June 5, 2013
					td Cougar Club memberships should be current before June 5, 2013
				tr
					td June 5, 2013
					td Email in homes with customer number and seat slection pin to renew previous season tickets
				tr
					td
						u June 12-June 23
					td
						u Renewal period
				tr
					td June 24, 2013 
					td Cougar Club deadline to request timeslots if season tickets were not purchased in 2012-13 or to upgrade membership level to receive an earlier time slot.
				tr
					td July 3, 2013
					td Upgrade letters in homes (including timeslots and log-in information)
				tr 
					td
						u July 9-July 22
					td
						u Upgrade period
				tr
					td August 6, 2013
					td (tentative based on availability) Public Patrons, who did not have season tickets last year, select seats on-line (through Seats 3D), no timeslot needed.
			h3 Home
			p Cougar Club members and season ticket holders receive priority on single home-game sales based on availability. Single home-game tickets typically go on sale in October.
			h3 Away
			p Information on the West Coast Conference Tournament is typically available in December.
			h3 Student
			p
				a(href="http://byutickets.com/content/roc-pass") Click here for BYU student ROC Pass information
			h3 Order Information 
			p Purchase by internet, phone, mail or over the counter. Season and indirect sales include handling fees. Our toll-free number is 800-322-BYU1(2981). Locally call 801-422-BYU1(2981).


		div#schedule.tab-pane
			p Schedule
		div#venue.tab-pane
			p Venue
