extends _layout

block breadcrumb

block content

	h1 Football
		a.btn.btn-primary.btn-large.get-tickets(href='http://ev9.evenue.net/cgi-bin/ncommerce3/SEGetEventList?groupCode=FS&linkID=byu&shopperContext=&caller=&appCode=') Get Tickets

	//- =============
	//-  Tabs
	//- =============
	
	ul.nav.nav-tabs
		li.active 
			a(href='#info', data-toggle="tab") Info
		li
			a(href='http://byucougars.com/schedule/m-football') Schedule
		li
			a(href='lavelledwardsstadium.html') Venue

	div.tab-content
		div#info.tab-pane.active
			h3 Season
			p During initial sales, new technology enables individuals to select their own season locations beginning at unique times based on Cougar Club membership (see Cougar Club), then on priority points. All seats are reserved. Children age two and older require a ticket. Designated donor and endzone locations are renewable. 
				b Cougar Club members receive priority seating on the sideline with assignments and limits based principally on Cougar Club level then points:
			li 1 point for each dollar donated to the Cougar Club
			li 100 points for each year of continuous season ticket purchase for football and men's basketball
			li 500 points for each Easy Club seat ever purchased (Football)
			li 1000 points for each Legacy Club seat ever purchased (Football)
			li 1000 points for each Courtside seat ever purchased (Men's Basketball)
			br
			p Limits during priority period (Mar 27-May 10)--for additional tickets, check back late May:
			li Initial limit of 12 (Individuals may order the same number of tickets they had the previous year in excess of 12.)
			li Only Cougar Club members may order chair seats. Cougar Club chair seat limits:
				ul
					li Legacy 5, 10 tickets
					li Legacy 4, 8 tickets
					li Legacy 3 - Golden Cougar, 6 tickets
					li Silver and Bronze, 4 tickets
					li Regular and Young Alumni, 2 tickets
			li BYU employee seating available in sections 133-135. (40% off seats except east chair and loges.)
				ul
					li Limit 4 tickets at employee discount (of the 12 ticket limit)
					li Limit 4 tickets in sections 133-135
					li All facility donor seats will be at the discounted price (see seating chart in the "venue" tab)
			p Timeline:
			br
			table
				tr
					td WE Feb 27
					td Cougar Club memberships should be current
				tr
					td WE Feb 27
					td Cougar Club deadline to request timeslots
				tr
					td Week of Mar 11
					td Renewal letters in homes (including timeslots)
				tr
					td WE Mar 20
					td Ballena seat selection system available for preview
				tr 
					td WE Mar 27-FR May 10
					td Renewal period
				tr
					td MO May 20-TU June 18
					td (tentative based on availability) Public patrons, who did not have season tickets last year, select seats on Ballena, no timeslot needed.
				tr
					td WE July 10
					td All-Sport Passes on sale



			h3 Home
			p Availabilities are dependent on season sales. Cougar Club members receive priority. Limit twelve tickets per transaction. Sale dates as follows:
			br
			table
				tr
					td Mon, July 29
					td Legacy
				tr
					td Tue, July 30
					td All other Cougar Club Members
				tr
					td Wed, July 31
					td Season ticket holders
				tr
					td Mon, August 5
					td Public

			h3 Away
			p Seats are assigned based principally on Cougar Club contribution level and points thereafter. Priority request dates begin at 9:00 a.m. as follows and are based on availability:
			br
			table
				tr
					td Date
					td Priority
					td Process
				tr
					td April 16-June 6
					td Cougar Club
					td To order online, Cougar Club members will need to sign in first by clicking 
						a(href='http://ev9.evenue.net/cgi-bin/ncommerce3/EVExecMacro?linkID=byu&evm=myac&entry=MyAccount.html&url=https%3A//ev9.evenue.net/cgi-bin/ncommerce3/EVExecMacro') here. 
						p Cougar Club members will be notified June 7 if they receive tickets.
				tr
					td June 10
					td 2013 Season Ticket Holders
					td 
				tr
					td June 17
					td Public
					td 
			br

			p Limits as follows:
			table
				tr
					td Legacy 5
					td 12 tickets
				tr 
					td Legacy 3-4
					td 10 tickets
				tr
					td Legacy 1-2
					td 8 tickets
				tr 
					td Golden
					td 6 tickets
				tr
					td Young Alumni-Silver
					td 4 tickets
				tr
					td Public
					td 4 tickets
			br


			p The sales price includes per ticket fees. Add $12 per order for mail and handling. Tickets are express mailed within the United States so a physical address is required. No PO boxes please. (International express mail is cost prohibitive. Orders to Canada may be sent regular mail or placed on willcall.) No refunds or exchanges. 
				b Tickets are not guaranteed and subject to availability.
			br

			table
				tr
					td Date
					td Opponent
					td Price 
					td Ticketed Age 
					td Mail Date
					td Tailgate, Ticketing, & Events Link
						br
						a(href="http://byucougars.com/blog/m-football/entry/2013-football-fireside-schedule") (Fireside info. click here)
					td Website Seating Chart Link
				tr
					td SA Aug 31
					td Virginia
					td $47
					td 2+
					td 7/22
					td 
					td
						a(href="http://grfx.cstv.com/schools/va/graphics/auto/fb_ticket_chart_2013-v4.png") Seating
				tr
					td FR Oct 4
					td Utah State
					td Sold Out
					td 3+
					td 8/19
					td
					td
						a(href="http://grfx.cstv.com/schools/ust/graphics/auto/updatedfbseating12.jpg") Seating
						
				tr
					td SA Oct 19
					td Houston
					td $50 & $70
					td 2+
					td 8/19
					td
						a(href="http://alumni.byu.edu/s/1085/03-provo-alumni/templates/interior-ne.aspx?sid=1085&pgid=5102&gid=7&cid=10569&ecid=10569&post_id=0") Read More
					td 
						a(href="http://reliantpark.com/sites/reliantpark.com/files/Reliant%20Stadium%20Seating_0.pdf") Reliant Stadium Seating
				tr
					td SA Nov 9
					td Wisconsin
					td $75
					td 2+
					td 9/10
					td
						a(href="http://alumni.byu.edu/s/1085/03-provo-alumni/templates/interior-ne.aspx?sid=1085&pgid=5105&gid=7&cid=10573&ecid=10573&post_id=0") Read More
					td
						a(href="http://uwathletics.com/facilities/camp_randall/seating_chart/index.aspx") Seating
				tr
					td SA Nov 23
					td Notre Dame
					td Sold Out
					td All
					td 9/17
					td
						a(href="http://alumni.byu.edu/s/1085/03-provo-alumni/templates/interior-ne.aspx?sid=1085&pgid=5108&gid=7&cid=10577&ecid=10577&post_id=0") Read More
					td
						a(href="http://gameday.nd.edu/campus/stadium-information/seating-chart/") Seating
				tr
					td SA Nov 30
					td Nevada
					td $51
					td 3+
					td 10/2
					td
						a(href="http://alumni.byu.edu/s/1085/03-provo-alumni/templates/interior-ne.aspx?sid=1085&pgid=5131&gid=7&cid=10606&ecid=10606&post_id=0") Read More
					td
						a(href="http://grfx.cstv.com/schools/unv/graphics/auto/mackay-map-football-2012.jpg") Seating

			h3 Student
			p
				a(href="http://byutickets.com/content/roc-pass") Click here for BYU student ROC Pass information

			h3 Seating
			p For information about seating, please visit the 
				a(href="lavelledwardsstadium.html") venue
				|  page.

			h3 Promotions
			p TBA

			h3 Order Information
			p Purchase by internet, phone, mail, or over the counter. Season and indirect sales include handling fees. Our toll-free number is 1-800-322-BYU1(2981). Locally, call 801-422-BYU1(2981).



		div#schedule.tab-pane
			p Schedule

		div#venue.tab-pane
			p Venue